html {
  box-sizing: border-box;

  font: normal 100%/1.5 "Open Sans", sans-serif;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 10%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {

}

a {
 padding-left: 90%;
}
