html {
  box-sizing: border-box;

  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  margin: 0 0 1.5rem;

  font-size: 1.5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em;

  background-color: #333;
  border-radius: 8px;
  border: 3px solid #333;

  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-small {
  font-size: .875rem;
}
