html {
  box-sizing: border-box;

  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  margin: 0 0 1.5rem;

  font-size: 2rem;
  text-align: center;
}
